///* common */
$body-color: #777;
$body-background-color: #58406f;
$container-background-color: #fff;
$section-title-color: #4f4f4f;
$section-title-underline-color: #61467a;

///* header */
$brand-initial-color: #58406f;
$brand-final-color: #777;
$header-language-name-color: #777;

///* footer */
// contact
$footer-title-color: #f9f9f9;
$footer-content-color: #c5c5c5;
$footer-form-background-color: #4f4f4f;
$footer-form-input-background-color: #393939;
$footer-form-input-color: #9a9a9a;
$footer-form-button-background-color: #3d3d3d;
$footer-form-button-color: #eaeaea;
// copyright
$footer-copyright-background-color: #393939;

///* Home */
///* service */
$service-color: #fff;

///* site navigation */
$nav-list-item-background-color: transparent;
$nav-list-item-color: #777;
$nav-list-item-active-background-color: #58406f;
$nav-list-item-active-border-color: #e7e7e7;
$nav-list-item-active-color: #fff;
