///* common */
$body-color: #777;
$body-background-color: #58406f;
$container-background-color: #fff;
$section-title-color: #4f4f4f;
$section-title-underline-color: #61467a;

///* Home */
///* service */
$service-color: #fff;

///* site navigation */
$nav-list-item-background-color: transparent;
$nav-list-item-color: #777;
$nav-list-item-active-background-color: #58406f;
$nav-list-item-active-border-color: #e7e7e7;
$nav-list-item-active-color: #fff;
