.table-message {
  grid-template-columns: repeat(7, auto);
  & div:nth-of-type(14n + 15),
  & div:nth-of-type(14n + 16),
  & div:nth-of-type(14n + 17),
  & div:nth-of-type(14n + 18),
  & div:nth-of-type(14n + 19),
  & div:nth-of-type(14n + 20),
  & div:nth-of-type(14n + 21) {
    background-color: #d0e9c6;
  }
  & div:nth-of-type(14n + 8),
  & div:nth-of-type(14n + 9),
  & div:nth-of-type(14n + 10),
  & div:nth-of-type(14n + 11),
  & div:nth-of-type(14n + 12),
  & div:nth-of-type(14n + 13),
  & div:nth-of-type(14n + 14) {
    background-color: #f2dede;
  }
  & div:nth-of-type(14n + 8) {
    text-transform: capitalize;
  }
}
