.pagination {
  display: flex;
  color: #337ab7;
  background-color: #fff;
  margin-top: 20px;
  &__page {
    color: inherit;
    min-width: 33px;
    width: max-content;
    height: 33px;
    border: 1px solid #ddd;
  }
  &__link {
    display: flex;
    width: 100%;
    height: inherit;
    color: inherit;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover {
      color: #23527c;
      background-color: #eee;
    }
  }
  &--disabled {
    display: flex;
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
    align-items: center;
    justify-content: center;
  }
  &--active {
    display: flex;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
    align-items: center;
    justify-content: center;
  }
}
