@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

///* Common elements */
html,
body {
  width: 100%;
}

body {
  background: none repeat scroll 0% 0% $body-background-color;
  color: $body-color;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
///* End Common elements*/

.container {
  max-width: 981px;
  margin: 0 auto;
  background-color: $container-background-color;
  height: 100%;
}

.leaflet-container {
  height:500px;
  width:650px;
}

@include media-query-medium {
  .container {
    width: 750px;
  }
  .leaflet-container {
    height:350px;
    width:500px;
  }
}

@include media-query-small {
  .leaflet-container {
    height: 200px;
    width: 340px;
  }
}